<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div ng-controller="UserController">
<div class="container">
 <h2>Friends List</h2>
     <table class="table table-striped">
    <thead>
      <tr ng-repeat="user in allusers" bgcolor="white">
			<td>{{user.username}}</td>
			<td>{{user.firstname}}</td>
			<td ng-show="user.isOnline=='Y'">Online</td>
			<td ng-show="user.isOnline=='N'">Offline</td>
			</tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>
	<table width="100%" border="1">
		<tr bgcolor="cyan">
			<td colspan="4"><center>Friend List</center></td>
		<tr ng-repeat="user in allusers" bgcolor="white">
			<td>{{user.username}}</td>
			<td>{{user.firstname}}</td>
			<td ng-show="user.isOnline=='Y'">Online</td>
			<td ng-show="user.isOnline=='N'">Offline</td>
	</table>
</div> 
</div> -->