<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="0"> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Social Collaboration</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
	<script src="RouteConfig.js"></script>
	<script src="Blog/BlogController.js"></script>
	<script src="Forum/ForumController.js"></script>
	<script src="Forum/adminForumController.js"></script>
	<script src="Blog/adminBlogController.js"></script>
	<script src="user/UserController.js"></script>
	<script src="Job/jobsController.js"></script>
	<script src="Friend/FriendController.js"></script>
   <script src="Chat/chatController.js"></script>
	<script src="Chat/chatService.js"></script>
	
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js" type="text/javascript"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js" type="text/javascript"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.3/lodash.js" type="text/javascript"></script>
</head>

<body data-ng-app="myApp">
	Role:{{currentUser.role}}
	<nav class="navbar navbar-default">
	<div class="container">
	<div class="navbar-header">
	<a class="navbar-brand" href="/">Collaboration</a>
	</div>

	<ul class="nav navbar-nav ">
	
	 <li><a href="#/Userhome">Home</a></li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/postblog" data-ng-show="currentUser.role=='user'">Create Blog</a></li>
               <li><a href="#/ViewBlog" >Show Blog</a></li>
               
          
         <li><a href="#/adminBlog" ng-show="currentUser.role=='Admin'"> Blog</a></li>
        </ul>
      </li>
      
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Forum<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/postforum" data-ng-show="currentUser.role=='user'">Create Forum</a></li>
           <li><a href="#/ViewForum" >Show Forum</a></li>
            
         <li><a href="#/adminForum" ng-show="currentUser.role=='Admin'"> Forum</a></li>
        </ul>
      
      
      <li><a href="#/registration" data-ng-hide="currentUser.firstName">Register</a></li>
      
 		<li><a href="#/login" data-ng-hide="currentUser.firstName">Login</a></li>
         <li><a href="" data-ng-click="logout()" data-ng-show="currentUser.firstName">Logout</a></li>
         
      <li><a href="#/Chat" ng-show="currentUser.role=='user'">Chat</a></li>
      
     <li><a href="#/jobs" ng-show="currentUser.role=='Admin'">Add Jobs</a></li>
      <li ><a href="#/showjobs"  ng-show="currentUser.role=='user'">Show Job</a></li>
      <li ><a href="#Friend"ng-show="currentUser.role=='user'">Friends</a></li>
	<li ><a href="#ShowFriendRequest"ng-show="currentUser.role=='user'"> Friend Request</a></li>
   </ul>
      <div class="nav navbar-nav navbar-right" ng-hide="currentUser==undefined">
         <font color='grey' face='calibri' size='4'>Welcome :{{currentUser.username}} &nbsp;&nbsp;&nbsp
        <img src="http://localhost:8181/SocialCollaboration/getimage/{{currentUser.username}}" width="30px" height="30px"/>
       <!-- <form><input type="submit" value="Logout" ng-click="logout()"/></form> -->
         <a href="#/ProfilePic">Profile Picture</a>
         </font>
  	  </div>
    
  </div>
</nav>
 <div class="container-fluid">

		<div><ng-view></ng-view></div>
 </div>
 <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}
</style>
</head>
<body>
<div class="footer">
  <p>@Copyright since 2017</p>
</div>

</body>
</html> 
</body>
</html>